

/****** spacers *******/
.spacer100
{
	height:100px;
}

.spacer50
{
	height:50px;
}
.spacer40
{
	height:45px;
}

.spacer25
{
	height:25px;
}

.spacer20
{
	height:20px;
}

.spacer15
{
	height:15px;
}

.spacer10
{
	height:10px;
}

/****** spacers *******/


/****** Navbar ******/
.navbar-brand.logo
{
	padding:0px;
	padding-right: 20px;
}

/****** Navbar ******/

/****** h1 to h5 ******/
/*font-family: Roboto;*/


h1
{
	color: green;
}

h3
{
	color: green;
}

h4
{
	color: green;
}

p
{
	font-family: Roboto;
}

p.intro
{
	font-family: Arial;
	font-size: 18px;
}

/****** h1 to h5 ******/



/****** venue details ******/
td, th 
{
	width: 5rem;
	height: 2rem;
	border: 1px solid #ccc;
	text-align: center;
}

th 
{
	background: lightblue;
	border-color: white;
}


#map 
{
	height: 200px;
	width: 100%;
}

/****** venue details ******/

#textarea 
{
	border: none;
	overflow: auto;
	height: 180px;
	width: 570px;
	padding : 4px;
	cursor: pointer; cursor: hand; 
}

#wrapper 
{
	overflow: hidden;
    width: 570px;
    height: 200px;
}

.table table
{
	width: 100%;	
}

div.col-sm-12.venueheading h1
{
	margin-top: 0px;
}

div.venueheadings
{
	height:40px;
    line-height:30px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	font-size:20px;
    font-weight:bold;
    font-family:verdana;
    display:block;
    color:white;
    display:block;
    padding:10px;
	background-color: lightblue;
    border: 1px solid lightblue;
    border-bottom:none;
    text-align: center;	
}

div.venueinfo
{
	border: 2px solid lightblue;
	border-radius: 10px;
	overflow: hidden;
	font-size: 15px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

div.venueratingcontent
{
	padding: 10px;
}

div.row.venueinfo
{
	min-height: 192px;
}

div.venuecontent
{
	padding: 10px;
	min-height: 162px;
}

div.venuesnippetcontent
{
	padding: 10px;
	min-height: 195px;
}


/******** Types of Fish Section ********/
div.col-sm-12.fishheading h1
{
	margin-top: 0px;
}

div.fishheadings
{
	height:40px;
    line-height:30px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	font-size:20px;
    font-weight:bold;
    font-family:verdana;
    display:block;
    color:white;
    display:block;
    padding:10px;
	background-color: green;
    border: 1px solid green;
    border-bottom:none;
    text-align: center;	
}

div.fishinfo
{
	border: 2px solid green;
	border-radius: 10px;

	overflow: hidden;

	font-size: 15px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
div.fishcontent
{
	padding: 10px;
	min-height: 180px;
}

div.row.fishinfo
{
	min-height: 192px;
}

/******** Types of Fish Section ********/


/******** Local Services Section ********/
div.col-sm-12.serviceheading h1
{
	margin-top: 0px;
}

div.serviceheadings
{
	height:40px;
    line-height:30px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	font-size:20px;
    font-weight:bold;
    font-family:verdana;
    display:block;
    color:white;
    display:block;
    padding:10px;
	background-color: blue;
    border: 1px solid blue;
    border-bottom:none;
    text-align: center;	
}

div.serviceinfo
{
	border: 2px solid blue;
	border-radius: 10px;

	overflow: hidden;

	font-size: 15px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
div.servicecontent
{
	padding: 10px;
	min-height: 180px;
}

div.row.serviceinfo
{
	min-height: 192px;
}






/******** Local Services Section ********/